/ghost_hurt_1.ogg
/ghost_hurt_2.ogg
/ghost_idle_1.ogg
/ghost_idle_2.ogg
/ghost_idle_3.ogg
/ghost_scream.ogg
/swamp_hag_death.ogg
/swamp_hag_hurt_1.ogg
/swamp_hag_hurt_2.ogg
/swamp_hag_hurt_3.ogg
/swamp_hag_living_1.ogg
/swamp_hag_living_2.ogg
/swamp_hag_living_3.ogg
/swamp_hag_living_4.ogg
/ghost_death.ogg
/ghost_jumpscare.ogg
